*,
::after,
::before {
  box-sizing: border-box;
}

/* fonts */

@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primaryColor: #001858;
  --secondaryColor: #6246ea;

  /* rest of the colors */
  --black: #222;
  --white: #fff;

  /* fonts  */
  --headingFont: "Plus Jakarta Sans", Sans-Serif;
  --bodyFont: "Plus Jakarta Sans", Sans-Serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundcolor: #eff0f3;
  --textColor: #2b2c34;
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 500px;
  --fluid-width: 90vw;
  --breakpoint-lg: 992px;
  --nav-height: 6rem;
}

body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

ul {
  list-style-type: none;
  padding: 0;
}

il {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}
